/* custom */

/* 多说评论 */
/*修改最新访客头像的大小*/
#ds-recent-visitors .ds-avatar img {width: 40px !important;height: 40px !important;}



/* 修改网站样式 */

/* navbar-brand 为标题样式 */

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-default .navbar-brand {
  color: #777777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}


/* code 高亮 */
code {
  padding: 2px 4px;
  font-size: 90%;
  white-space: nowrap;

  display: inline-block;
  background: rgba(5, 5, 0, 0.82);
  line-height: 1.5em;
  color: #FFFFFF;
  /*border: 1px solid #ddd;*/
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  margin: 2px 1px;  
}



/* comments */
.meta .comments {
  background: #6c6c6c;
  /*padding: 0px 5px;*/
  font-size: 0.65em;
  height: 100%;
  float: right;
  width: 2.5em;
  text-align: center;
  position: relative;
  top: -11px;
  color: #FFFFFF;
  text-decoration: none;
}
.meta .comments:hover {
  background: #222;
  text-decoration: none;
}
.meta .comments > i {
  display: inline;
}
.comments a:hover {
  text-decoration: none;
}



/* meta */
.meta {
  text-align: right;
  width: 100%;
  color: #fff;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  position: relative
}
.meta .seperator {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #FFF;
  width: 100%;
  position: absolute;
  top: -1px
}
.meta .date {
  background: #bbb;
  padding: 0 3px;
  font-size: 0.65em;
  height: 100%;
  float: right;
  position: relative;
  top: -11px
}

.meta .date {
  background: #bbb;
  padding: 0 3px;
  font-size: 0.65em;
  height: 100%;
  float: right;
  position: relative;
  top: -11px
}


/* 去掉原有header的下滑线 */
.page-header {
padding-bottom: 9px;
margin: 20px 0 0px;
border-bottom: 0px solid #eee;
}

/* 全局*/
a {
  color: #4B4E5C;
  text-decoration: none;
  background: transparent;
}
a:hover, a:active, a:focus {
  color: #134E81;
  outline: 0;
  text-decoration: underline;
}

p {
  margin: 0 0 1px;
}

h1{
  margin-top: 15px;
  margin-bottom: 8px;
}
h2, h3, h4, h5, h6{
  margin-top: 30px;
  margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica", "STHeiti", "Microsoft YaHei", "微软雅黑", sans-serif, "宋体", "Simsun";
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
  color: #555;
}
/* aside */
.panel-body > ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.panel-body ol {
  border-bottom: 0px solid #E0E0E0;
}
aside.sidebar {
  color: #4B4B4B;
  text-shadow: #FFF 0 0px;
}
aside.sidebar ul {
  margin-bottom: 0.5em;
}
aside.sidebar li {
  list-style: none;
  padding: 0.1em 0;
  margin: 0;
  border-bottom: 0px solid #E0E0E0;
}
aside.sidebar section {
  font-size: 1em;
}



/* Poster Footer */
.post-footer {
  background: none repeat scroll 0pt 0pt #1D263A;
  border-radius: 3px;
  color: #FF6F42;
  padding: 1px 10px;
}
.post-footer > a{
  color: #FFFFFF;
}
.post-footer > a:hover{
  color: #C7F356;
}



/* Font */
body {
  font-family: "Helvetica", "STHeiti", "Microsoft YaHei", "微软雅黑", sans-serif, "宋体", "Simsun";
  line-height: 2em;
  font-size: 18px;
  color: #555;  
}



.panel-body > p {
  /*margin: 0 0 0px;*/  /* 去掉About Me 侧边栏下面的间隙 */
  margin: 0px 0px 5px 0px;  
}


/* 修改背景 */
html,body {
  background-color: #E6E6E6;
}

#main {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 100, 0.298039) 0px 2px 6px 0px;
  padding-top: 20px;
}
.col-md-9 {
  padding-left: 55px;
  width: 95%; /* 设置中间内容栏row的宽度为100%，覆盖侧边栏的显示区域 */
}

/* aside 样式修改 */
.panel-heading {
  padding: 5px 0px 3px 15px;
}
.panel-body {
  padding: 0px 15px;
}

/* Footer */
#wrap {
  padding: 0 0 0px; /* 消除底边空隙 */
}
footer[role=contentinfo] {
  margin-top: 30px;
  /*border-radius: 5px;*/
  box-shadow: rgba(100, 100, 100, 0.298039) 0px 2px 6px 0px;
  /*background-color: #FFF;*/
  padding-top: 15px;
  background: rgba(31, 4, 4, 0.18) url(images/body_dark_bg.png) repeat-x;
}

footer[role=contentinfo] p {
  margin: 0 0 0px;
}

footer[role=contentinfo] #footer-wrapper{
  background: #333 url(images/mask.png) 0 0 repeat;
  padding: 30px 0 0 0;
  -webkit-box-shadow: inset 0 -1px 3px #111;
  -moz-box-shadow: inset 0 -1px 3px #111;
  box-shadow: inset 0 -1px 3px #111;
  text-shadow: 0 1px 1px #111;
  color: #DDD;
}



#footer-wrapper .copyright{
  clear: both;
  padding: 10px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}

#footer-wrapper .text-muted{
  color: #DDD;
}

#footer-wrapper a {
   color: #FFBE6B;
}

#footer-wrapper a:hover {
   color: #FFA13C;
}





/* 回到顶部 */
.go{width:47px;height:106px;background-color:#FFF;position:fixed;_position:absolute;_top:expression(eval(
  document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.
  currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));right:12px;bottom:25%;
  border-radius:5px;box-shadow:0 0 2px #6E6E6E}
.go a{background:url(/images/a.png) no-repeat;display:block;text-indent:999em;width:37px;margin:5px;border:0;overflow:hidden;float:left}
.go .top{background-position:0 -33px;height:22px}
.go .feedback{background-position:0 -54px;height:32px}
.go .bottom{background-position:0 -88px;height:22px}
.go .top:hover{background-position:-38px -33px}
.go .feedback:hover{background-position:-38px -54px}
.go .bottom:hover{background-position:-38px -88px}



/* Loading Bar */
#topbarloading {
  background-color: #F1F1F1;
  background-image: url(/images/all.png);
  background-position: 0px -632px;
  color: #333;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0px;
  height: 4px;
  line-height: 18px;
  width: 20%;
}
/* 为Loading Bar 去掉Navbar底部黑线 */
.navbar {
  border: 0px solid rgba(0, 0, 0, 0);
}


/* Article */
article[role=article] > footer {
  padding-bottom: 1em;
  margin-top: .3em;
}
article img:not(.no-border) {
  clear: both;
  display: block;
  margin: auto;
}
.entry-content {
  font-size: 18px;
}
.entry-content a:hover {
  text-shadow: none;
  color: #FFF;
  background: #00AEFF;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.entry-content a {
  padding: 2px;
  color: #00AEFF;
}
.entry-content p {
  line-height: 170%;
  margin-top: 1.1em;
  font-size: 18px;
 
  display: block;


  color: #555;
}





/* About Me */
#aboutme-wrapper p{
  margin: 0px;
  line-height: 1.4em;
  position: relative;
}
#aboutme-wrapper .pic_me {
  height: 14em;
  margin-top: 10px;
  margin-bottom: 20px;
}

#aboutme-wrapper .aboutme-block {
  height: 100%;
  width: 100%;
  margin: 5px 0px 20px 0px;
  padding: 10px 40px 20px 40px;
}
#aboutme-wrapper .aboutme-wrapper:after {
  display: table;
  clear: both;
  content: '';
}
#aboutme-wrapper .container {
  width: 100%;
  float: left;
  overflow: hidden;
}
#aboutme-wrapper .content {
  padding: 0 0 0 280px;
  margin-top: 20px;
}

#aboutme-wrapper .left-sidebar {
  float: left;
  width: 280px;
  margin-left: -100%;
  position: relative;
}

/*新浪微博新动态字体适配*/
.WB_follow_ex .status_following .follow_text, .WB_follow_ex .status_followed .follow_text {
  padding: 4px 0px 1px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: initial;
}


.WB_widget .user_content_container {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
    box-sizing: initial;
}







/* Archive */
/*article h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 8px;
}*/
#blog-archives {
  padding: .0.5em 0em 3em 2.5em;
}
#blog-archives h1 {
  margin-bottom: .04em;
}

#blog-archives h2 {
  font-weight: bold;
  margin-top: 1em;
}

#blog-archives h3 {
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 3em;
}
#blog-archives article {
  padding-left: 9.5em;
  padding-bottom: .7em;
  margin-left: 5em;
  position: relative;
  color: #AAA;
}
#blog-archives article .date {
  font-size: 1.1em;
  line-height: 1.2em;
  text-transform: uppercase;
  position: absolute;
  text-align: right;
  left: 1.6em;
  top: 2.2em;
}
#blog-archives span a {
  color: #08C;
  text-decoration: none;
}
#blog-archives span a:hover {
  color: #005580;
  text-decoration: underline;
}





.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
  list-style: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}


.tag_box li {
  line-height: 28px;
  float: left;
  display: list-item;
  text-align: -webkit-match-parent;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #EEE;
  color: #005F6B;
  border-radius: 3px;
  text-decoration: none;
}


/* Page Tags */

.tags_tagdetail {
  margin: 40px 40px;
}

.tags_tagdetail h4{
  font-size: 25px;
  line-height: 32px;
  border-bottom: 1px solid #CCC;
  margin: 0;
  font-weight: bold;
  color: #333;
  list-style: none;
  text-rendering: optimizelegibility;
/*  -webkit-margin-before: 0.83em;*/
  -webkit-margin-after: 0.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.tags_tagdetail ul {
  padding: 0;
  margin: 0 0 9px 25px;
}
.tags_tagdetail li {
  line-height: 1.5em;
}
.tags_tagdetail li a {
  color: #08C;
}
.tags_tagdetail li a:hover {
  color: #005580;
}



/* More Link Button */
.more-link {
  background: #313131;
  padding: 6px;
  font-size: 1.4em;
  margin-right: 1em;
  color: #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px;
  -moz-box-shadow: inset 0 0 9px #333;
  -webkit-box-shadow: inset 0 0 9px #333;
  box-shadow: inset 0 0 9px #333;
}
.more-link:hover{
  color: #9CF11C;
  outline: 0;
  text-decoration: underline;
}

.article_tag {
  display: inline-block;
  font-size: 1.2em;
}

.article_tag a{
  color: #00AEFF;
  margin: 0px 5px 0px 0px;
}



/* icon */
i {
  display: inline;
}


/* indexer */
.content_indexer{
}

.content_indexer h2,h3{
  margin-top: 10px;
  margin-bottom: 15px;
}
.indexer-body{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 1.3em;
  font-size: 18px;
  color: #FF706C;
}

.indexer-body ul{
  display: block;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.indexer-body li{
  margin-bottom: 0.5em;
  line-height: 170%;
  /*margin: 0;*/
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  text-align: justify;
  display: list-item;
}
.indexer-body a{
  color: #FF706C;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  outline: none;
  -webkit-box-sizing: border-box;
}



