<link href="{{ root_url }}/javascripts/libs/bootstrap-3.0.3/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/javascripts/libs/bootstrap-3.0.3/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">



<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

<!-- custom -->
<link href="{{ root_url }}/fonts/fonts.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/stylesheets/custom.css" rel="stylesheet" type="text/css">
<!-- <link href="{{ root_url }}/javascripts/libs/prettify/prettify.css" rel="stylesheet" type="text/css" media="all"> --><link href="{{ root_url }}/javascripts/libs/prettify/desert.css" rel="stylesheet" type="text/css" media="all">
<!-- <link rel="stylesheet" href="{{ root_url }}/javascripts/libs/highlight/styles/monokai_sublime.css"> -->
<!-- add font-awesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


<!-- wunii -->
<meta name="wumiiVerification" content="11f148a3-3375-42a6-bcf9-f1658ee6036a" />

